<!DOCTYPE html>
<html>
<head>
    <title>Vue.js To-Do List</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newTask" @keyup.enter="addTask">
        <ul>
            <li v-for="(task, index) in tasks" :key="index" @click="toggleTask(index)" :style="{ color: task.done ? 'green' : 'black', borderColor: task.done ? 'green' : 'black', borderWidth: '2px', borderStyle: 'solid', padding: '5px' }">
                {{ task.name }}
            </li>
        </ul>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    newTask: '',
                    tasks: []
                }
            },
            methods: {
                addTask() {
                    this.tasks.push({ name: this.newTask, done: false });
                    this.newTask = '';
                },
                toggleTask(index) {
                    this.tasks[index].done = !this.tasks[index].done;
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
